<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebiPharma</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Palanquin:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400&display=swap" rel="stylesheet">
</head>
<body>
     <main>
         <div class="main_container">
            <div class="partition_one">
                <div class="logo_bar">
                    <p class="logo_bar-text">
                        webipharma
                    </p>
                </div>
                <div class="form_container">
                    <div class="login_form">
                        <form class="myForm" method="get" enctype="" action="">
        
                            <p>
                            <label>Name
                            <input type="text" name="customer_name" required>
                            </label> 
                            </p>
                            
                            <p>
                            <label>Phone 
                            <input type="tel" name="phone_number">
                            </label>
                            </p>
                            
                            <p>
                            <label>Email 
                            <input type="email" name="email_address">
                            </label>
                            </p>
                            <button>Submit Booking</button>
                            
                            </form>
                     </div>
                </div>
            </div>
            <div class="partition_two">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem recusandae quasi deleniti nesciunt, accusantium placeat voluptatibus eligendi fugiat ipsa repellendus, vero soluta dolor accusamus sequi incidunt architecto nobis? Nemo, tempora.</p>
            </div>
          </div>
        </main>
         
        
</body>
</html>