<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebiPharma</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Palanquin:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="main_container">
        <div class="partition_one">
          <div class="logo_bar">
            <p class="logo_bar-text">webipharma</p>
          </div>
          <div class="form_section">
              <div class="form_section-header">
                  <h1>
                      Create Account
                  </h1>
                  <p>Just a step away from convenience !</p>
              </div>
            <div class="login_form">
                <form class="form" method="get" enctype="" action="">
                  <div class="form_input">
                    <label>Name</label>
                    <input type="text" name="customer_name" required />
                  </div>
  
                  <div class="form_input">
                      <label>Email</label>
                      <input type="text" name="customer_name" required />
                    </div>
  
                    <div class="form_input">
                      <label>Residence</label>
                      <input type="text" name="customer_name" required />
                    </div>
                    <div class="form_input">
                      <label>Password</label>
                      <input type="password" name="customer_name" required />
                    </div>
                    <div class="form_input">
                      <label>Repeat Password</label>
                      <input type="password" name="customer_name" required />
                    </div>
                  <button>Submit Booking</button>
                </form>
              </div>
          </div>
            
          
        </div>
        <div class="partition_two">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            recusandae quasi deleniti nesciunt, accusantium placeat voluptatibus
            eligendi fugiat ipsa repellendus, vero soluta dolor accusamus sequi
            incidunt architecto nobis? Nemo, tempora.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
