<!-- include header -->
<%- include('includes/header') %>
<!-- /include header -->

<body class="dashboard">
    <aside class="sidebar">
       m,.m,.a
    </aside>
    <main class="main_content">
        <div class="greeting_cards">
            <div class="greeting_card--one">
                <div class="content">
                    <div class="greeting_card--text">
                        <h2>Welcome, Nathan</h2>
                        <p>Upload and request your prescriptions today, <br>convenience awaits you !</p>
                    </div>
                    <div class="greeting_card--image">
                        <img src="images/request.png" alt="">
                    </div>
                </div>
               
                
            </div>

            <div class="greeting_card--two">
                <div class="content">
                    <div class="greeting_card--text">
                        <h2>Never worry about refills!</h2>
                        <p>Automate your refill renewals,<br>never go out to buy them!</p>
                    </div>
                    <div class="greeting_card--image">
                        
    
                        <img src="images/save.png" alt="">                </div>
                    
                </div>
                </div>
                
        </div>
    </main>


</body>